QUORIDOR_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
QUORIDOR_SESSION_TTL_MINUTES=30
QUORIDOR_MAX_CONCURRENT_GAMES=1000
QUORIDOR_MINIMAX_DEPTH_NORMAL=3
QUORIDOR_MODEL_HARD=models/quoridor_ppo_v1.zip
QUORIDOR_MODEL_EXPERT=models/quoridor_ppo_best.zip
QUORIDOR_RATE_LIMIT_GAMES_PER_MIN=5
QUORIDOR_RATE_LIMIT_MOVES_PER_MIN=30
